# ========================================
# Maven
# ========================================
/target/
!.mvn/wrapper/maven-wrapper.jar

# ========================================
# IntelliJ IDEA
# ========================================
/.idea/
/*.iml
/out/

# ========================================
# Operating System
# ========================================
.DS_Store
Thumbs.db

# ========================================
# Environment Variables
# ========================================
.env

# ========================================
# Logs
# ========================================
*.log

# ========================================
# Others
# ========================================
*.class
*.jar
*.war
*.ear
